@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Ubuntu&display=swap');

html {
    height: 100%;
    width: 100%;
  }
  
  *{
    margin:0;
    padding:0;
    border:0;
  }

body {
font-family: 'Ubuntu', sans-serif;
background-color: darkslategrey;
color: white;
}

.hero-image {
  animation-name: hero-zoom;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

@keyframes hero-zoom {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.1);
  }
}

.social-networks li{
  display:inline;
}


